

/*My Custom CSS 18-06-2019*/

/*Banner Section*/

section.top_banner_sec {
    min-height: 774px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.top_banner_content {
    position: relative;
}

.top_banner_content h4 {
    position: relative;
    font-size: 34px !important;
    max-width: 740px;
    padding-bottom: 10px;
    margin-bottom: 25px;
    text-transform: uppercase;
    padding-top: 175px;
    color: #fff;
    font-weight: 600;
}

.top_banner_content h4:after {
    content: "";
    position: absolute;
    width: 140px;
    height: 3px;
    bottom: 0;
    background: #f37021;
    left: 0;
}

.top_banner_content h2 {
    color: #fff !important;
    /* text-transform: uppercase; */
    /* font-weight: bold; */
    padding-top: 5px;
    font-size: 18px !important;
}

.top_banner_content .free_quote_spacer {
    margin-top: 40px;
}

.top_banner_content .get_a_quote_btn {
    background: #f37021;
    color: #fff;
    text-transform: uppercase;
    padding: 14px 22px;
    font-weight: 600;
    border-radius: 3px;
    transition: all .3s ease;
}

.top_banner_content .get_a_quote_btn:hover {
    background: #1f1f1f;
}

/*Banner Section Ends here*/

/*Customer Section*/

section.our-wrk-flow-sec {
    padding-top: 50px !important;
    padding-bottom: 75px !important;
}

.col-md-6.right-content-area {
	padding-top: 28px !important;	
    padding-left: 35px !important;
}

.col-md-6.right-content-area h2 {
    font-size: 30px !important;
    color: #000 !important;
    font-weight: 600;
}

.col-md-6.right-content-area p {
    padding-top: 15px !important;
    font-size: 15px !important;
    font-weight: 400;
    color: #333 !important;
	padding-left: 0px !important; 
    margin-bottom: 0px;       
}

/*Customer Section ends here*/

/*Services Section*/

/*.how-we-do-this{
    background: url(/brilliantmove/images/services-bg.png);
    background-repeat: no-repeat;
}*/

section.how-we-do-this {
    background: #f8f8f8;
    padding-top: 65px;
    padding-bottom: 65px;
}

.col-lg-6.left-hwdt h2 {
    position: relative;
    font-size: 28px !important;
    text-transform: uppercase;
    color: #ff9021;
    font-weight: 700;
    padding-bottom: 5px;
}

.col-lg-6.left-hwdt h2:after {
    content: "";
    position: absolute;
    width: 85px;
    height: 2px;
    background: #ff9021;
    left: 0;
    bottom: 0;
}

.col-lg-6.left-hwdt .desc {
    padding-top: 10px;
    color: #333 !important;
    line-height: 24px;
    padding-left: 0px !important;   
    text-transform: uppercase;    
}

.col-lg-6.left-hwdt .content-boxes {
    position: relative;
}

.col-lg-6.left-hwdt .content-boxes img {
    position: absolute;
}

.col-lg-6.left-hwdt .content-boxes h4 {
    padding-left: 70px;
}

.col-lg-6.left-hwdt .content-boxes p {
    padding-left: 70px;
    font-size: 14.5px !important;
    font-weight: 300;
    /*color: #444;*/
    padding-bottom: 10px;    
}

.col-lg-6.left-hwdt .content-boxes h4 {
    text-transform: uppercase;
    font-size: 18px;
    color: #333;
    font-weight: 600;
    margin-bottom: 5px;
}


/*Services Section ends here*/

/*Reasons to choose us*/

.col-md-12.text-center.rtcu-head h2 {
    text-transform: uppercase;
    font-size: 28px !important;
    font-weight: 600;
    position: relative;
    padding-bottom: 10px;
}

section.reason-to-choose-us {
    padding-top: 70px !important;
}

.col-md-12.text-center.rtcu-head h2:before {
    content: "";
    position: absolute;
    width: 50px;
    height: 4px;
    background: #f37021;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
}

.col-md-12.text-center.rtcu-head h2:after {
    content: "";
    position: absolute;
    height: 4px;
    width: 88px;
    background: transparent;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-left: 12px solid #f37021;
    border-right: 12px solid #f37021;
}

.col-md-12.text-center.rtcu-head p {
    max-width: 700px;
    margin: 0 auto;
    padding-top: 10px;
}

/*Reasons to choose us ends here*/

/*Reasons to choose us sub sections*/

section.services-section {
    padding-top: 25px;
}

.services-boxes-inner {
    border: 1px solid #d7dddf;
    border-radius: 3px;
    min-height: 310px;  
    margin-bottom: 40px;  
}

.services-boxes-inner img {
    display: block;
    margin: 0 auto;
    padding: 20px 0px;
	width: 80px;    
}

.services-boxes-inner h3 {
    text-align: center;
    font-size: 18px !important;
    text-transform: uppercase;
    font-weight: 600;
}

.services-boxes-inner p {
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
}

/*.container-fluid.lsbxs {
    background-repeat: no-repeat;
    min-height: 350px;
    margin-top: 20px;
}*/

section.last-service-boxes {
    padding-top: 10px;
    padding-bottom: 45px;
}

.col-sm-9.lst-boxes {
    margin-left: 300px;
}

.lst-srv-boxes-sec img {
    width: 80px;
    position: absolute;
}

.lst-srv-boxes-sec h3 {
    padding-left: 95px;
    font-size: 18px !important;
    text-transform: uppercase;
    font-weight: 600;
}

.lst-srv-boxes-sec p {
    padding-left: 95px;
    padding-bottom: 25px;
}

.container-fluid.lsbxs {
    padding-left: 0px !important;
}

.col-md-4.lsb-img {
    padding-left: 0px !important;
}

.dis_p{
    font-size: 18px !important;
    font-weight: 600;
}


/*Reasons to choose us sub sections ends here*/

/*Testimonial Section*/

section.testimonial_sec {
    padding-top: 40px;
    padding-bottom: 0px;
}

.col-md-12.testimonial_head h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 28px !important;
    position: relative;
    padding-bottom: 10px !important;
}

.col-md-12.testimonial_head h2:before {
    content: "";
    position: absolute;
    width: 50px;
    height: 4px;
    background: #f37021;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
}

.col-md-12.testimonial_head h2:after {
    content: "";
    position: absolute;
    height: 4px;
    width: 88px;
    background: transparent;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-left: 12px solid #f37021;
    border-right: 12px solid #f37021;
}

.col-md-12.testimonial_head p {
    text-align: center;
    padding-top: 12px;
}

.col-md-4.testimonial_inner {
    padding-top: 30px !important;
    padding-bottom: 50px !important;
}

.testimonial_inner_sec {
/*    border: 1px solid #d7dddf;
    box-sizing: border-box;
    border-radius: 3px;*/
}

.testimonial_inner_sec img {
    margin: 0 auto;
    display: block;
    padding: 12px 0px;
    border-radius: 50%;
    width: 80px;
}

.testimonial_inner_sec p {
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
    padding: 10px 0px;
}

.testimonial_inner_sec h5 {
    text-align: center;
    font-weight: 600;
    font-size: 18px !important;
    padding: 10px 0px;
}

/*Testimonial Section Ends here*/

/*Download App Section*/

.customer_page section#download_app {
    box-shadow: none;
    background: none !important;
    padding: 0px;
    margin-top: 40px;
}

.container.text-center.dwnld_the_app_cnt {
    padding: 45px 0px;
    background: #f5f5f5;
}

/*Download App Section ends here*/

/*Testimonial Slider*/

section.testimonial_slider {
    padding: 30px 0px 65px 0px;
}

.blog .carousel-indicators li:hover {
    cursor: pointer;
}

.blog .carousel-indicators {
    left: 0;
    top: auto;
    bottom: -40px;

}

/* The colour of the indicators */
.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.blog .carousel-indicators .active {
background: #f37021;
}

/*Testimonial Slider ends here*/

/*Load more button*/

p.load_more_spacer {
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
}

a.load_more_btn {
    background: #F37021;
    color: #fff;
    text-transform: uppercase;
    padding: 12px 20px;
    border-radius: 3px;
    font-weight: 600;
    transition: all .3s ease;
}

a.load_more_btn:hover {
    background: #1f1f1f;
}

/*Load more button ends here*/

/*Responsive*/

@media (max-width: 1400px){
	section.top_banner_sec{
		min-height: 700px !important;
	}
}

@media (max-width: 1200px){
	section.top_banner_sec {
    min-height: 615px !important;
	}
	.services-boxes-inner {
    	min-height: 360px;
	}
}

@media (max-width: 1024px){
	section.top_banner_sec {
    min-height: 520px !important;
	}
}

@media(max-width: 992px){
	.top_banner_content h4{
		padding-top: 135px !important;
	}
}

@media (max-width: 980px){
	.container-fluid.lsbxs {
    	background-size: cover;
    	width: 100%;
	}
}

@media (max-width: 767px){
	section.top_banner_sec {
    	min-height: 430px !important;
	}
	.top_banner_content h4 {
    	padding-top: 45px !important;
	}
	section.our-wrk-flow-sec {
    	padding-top: 20px !important;
    	padding-bottom: 40px !important;
	}
	section.reason-to-choose-us{
	    padding-top: 35px !important;
	}
	.top_banner_content .free_quote_spacer{
	    margin-top: 28px !important;
	}	 
	.col-md-6.right-content-area {
    	padding-top: 10px !important;
    	padding-left: 15px !important;
	}
	.services-boxes-inner {
    	min-height: 1px;
	}
	.services-boxes-inner p {
    	padding-bottom: 20px !important;
	}
	.col-md-6.col-sm-12.lsb-content {
    	padding-top: 20px;
    	padding-left: 30px;
	}
	.col-md-4.lsb-img {
    	padding-left: 0px !important;
    	padding-right: 0px !important;
	}
	.lst-srv-boxes-sec {
    	border: 1px solid #d7dddf;
    	margin-bottom: 40px;
    	border-radius: 3px;
	}
	.lst-srv-boxes-sec img {
    	position: initial;
    	display: block;
    	margin: 0 auto;
    	padding: 20px 0px;
	}
	.lst-srv-boxes-sec h3 {
    	padding-left: 0px;
    	text-align: center;
	}
	.lst-srv-boxes-sec p {
    	text-align: center;
    	max-width: 90%;
    	margin: 0 auto;
    	padding-left: 0px;
	}
	section.last-service-boxes{
		padding-bottom: 5px !important;
	}
}

@media (max-width: 640px){
	section.top_banner_sec {
    	min-height: 360px !important;
	}
	.top_banner_content h4 {
    	padding-top: 70px;
	}
	.top_banner_content h4{
		font-size: 30px !important;
	}
    .top_banner_content h2 {
        font-size: 16px !important;
    }
	.top_banner_content .get_a_quote_btn{
		padding: 12px 18px !important;
	}
}

@media (max-width: 480px){
	section.top_banner_sec {
    	min-height: 300px !important;
	}
	.top_banner_content h4 {
    	font-size: 28px !important;
        margin-bottom: 15px !important;
	}
	.top_banner_content h2 {
    	font-size: 16px !important;
	}
	.top_banner_content .get_a_quote_btn {
    	padding: 12px 15px !important;
    	font-size: 13px;
	}	
}

@media (max-width: 375px){
	section.top_banner_sec {
    	min-height: 270px !important;
	}
	.top_banner_content h4 {
    	padding-top: 45px !important;
	}
	.top_banner_content h4 {
    	font-size: 24px !important;
	}
	.top_banner_content h2 {
    	font-size: 16px !important;
	}
	.top_banner_content .get_a_quote_btn {
    	padding: 10px 12px !important;
    	font-size: 12.5px;
	}
	.top_banner_content .free_quote_spacer {
    	margin-top: 18px !important;
	}
	.col-md-12.text-center.rtcu-head h2{
		font-size: 26px !important;
	}	
}