.modal-backdrop.show {
    opacity: 0.65;
}

.modal { 
       .modal-header {
        padding: 0px;
        border: 0px;
        .close {
            position:absolute;right:0px;background-color:$white;height:40px;
            width:40px;box-shadow:0 0 10px rgba(0, 0, 0, 0.24);top:0px;opacity:1;
            border-radius:50%;line-height:0px;cursor:pointer;z-index:5;color:#A3A3A3;font-size:14px;padding:0;

            i{transition:all 0.5s;font-size: 18px; color: #ee610d;}

            &:hover{
                opacity: 1;
            }
        }

        @include media-breakpoint-down(lg) {
            .close {width: 30px;height: 30px;font-size: 10px;right: 5px;top: 5px;}
        }
        @include media-breakpoint-down(sm){
            .close {right:10px}
        }
        @include media-breakpoint-down(xs){
            .close {
                right:10px;width:25px;height:25px;top:10px;
                i{font-size: 14px;}
            }
        }
    }
    .modal-lg {
        @include media-breakpoint-up(xl) {
            max-width: 1350px;
        }
        @media(min-width:1281px)and(max-width:1366px) {
            max-width: 1250px;
        }
        @media(min-width:1200px)and(max-width:1280px) {
            max-width: 1200px;
        }
        @include media-breakpoint-only(lg) {
            max-width: 950px;
        }
    }

    .modal-md {
        max-width: 750px;  
        @include media-breakpoint-only(sm) {
            max-width: 550px;
        }
    }

    .modal-sm {
        max-width: 550px;
    }

    .modal-heading {
        margin-bottom: 30px;
    	h2 , h4 {   	
            margin-bottom: 0; font-family: $font-workbold;
    	}
        h2 {font-size: 22px;}
        h4{font-size:16px;}
        @include media-breakpoint-down(md){
            margin-bottom: 20px;
            h2{font-size:20px;}
            h4{font-size:14px;}
        }
        @include media-breakpoint-down(sm){
            margin-bottom: 15px;
            h2{font-size:18px;}
        }
        @include media-breakpoint-down (xs){
             h2{font-size: 16px;}
             h4{font-size:12px;}
        }
    }

     .modal-content{
        .modal-body{
            padding: 40px; padding-top: 55px;
            .form-group{
                .quate-snippet{
                    position: relative;
                    .form-control{
                        padding-right: 36px;
                    }
                    .btn-number {
                        position: absolute;right: 0;top: 0;background: transparent;border: 0;border-left: 1px solid $blue;
                        height: 28px;padding: 0;width: 35px;text-align: center;line-height: 31px;cursor: pointer; color: $blue;
                        &.btn-minuse{
                            top: auto;bottom: 0; border-top: 1px solid $blue    
                        }
                    }
                }
                .product-add{
                    color: $orange; font-family: $font-workmedium ;
                }
            }
        }
        @include media-breakpoint-down(lg){
            .modal-body{
                padding: 30px; padding-top: 40px;
                .form-group{
                    margin-bottom: 25px;
                }
            }
        }
          @include media-breakpoint-down(md){
            .modal-body{
                .form-group{
                    .quate-snippet{
                        .btn-number {
                            height: 25px;
                        }
                    }
                }
            }
        }
        @include media-breakpoint-down(sm){
            .modal-body{
                padding: 20px; padding-top: 30px;
                .form-group{
                    margin-bottom: 15px;
                    .quate-snippet{
                        .btn-number {
                            height: 23px;
                        }
                    }
                }
            }
        }
    }
}